/dataload.py
results/first_run_area_normalized_TXspectra.txt
results/first_run_diff_area_normTXspectra20.txt
results/first_run_diff_area_normTXspectra30.txt
results/first_run_diff_area_normTXspectra40.txt
results/first_run_diff_area_normTXspectra50.txt
results/first_run_diff_area_normTXspectra60.txt
results/first_run_diff_area_normTXspectra70.txt
results/second_run_area_normalized_TXspectra.txt
results/second_run_diff_area_normTXspectra20.txt
results/second_run_diff_area_normTXspectra25.txt
results/second_run_diff_area_normTXspectra30.txt
results/second_run_diff_area_normTXspectra35.txt
results/second_run_diff_area_normTXspectra40.txt
results/second_run_diff_area_normTXspectra45.txt
results/second_run_diff_area_normTXspectra50.txt
results/selected_times_diff_area_normTXspectra-5.txt
results/selected_times_diff_area_normTXspectra-15.txt
results/selected_times_diff_area_normTXspectra-25.txt
results/selected_times_diff_area_normTXspectra-35.txt
results/selected_times_diff_area_normTXspectra-45.txt
results/selected-time_area_normalized_TXspectra.txt
results/time_area_normalized_TXspectra.txt
